.chat-side
  .side-header
    %ul.box
      %li.left
        %p
          = current_user.name
      %li.right
        = link_to new_group_path do
          = icon('fa', 'edit',class: 'icon')
        = link_to edit_user_path(current_user) do
          = icon('fa', 'cog',class: 'icon')
  .groups
    - current_user.groups.each do |group|
      .mannaka
        = link_to '#' do
          .ue
            %p
              = group.name
          .sita
            %p
              まだメッセージがありません
